
ALTER PROCEDURE [dbo].[PRC_POLIZAS_POR_TRASPASAR_RET_CXP] (@ANIO INT,@MES INT, @FECHA VARCHAR(15),@CONSILIADO INT, @SITE_ID VARCHAR(15), @CURRENCY_ID VARCHAR(15),@PG_Intercarmbiada INT)
AS

	SET NOCOUNT ON;

	--DECLARE @ANIO INT=2018,@MES INT=10, @FECHA VARCHAR(15)='10/01/2019',@CONSILIADO INT=0, @SITE_ID VARCHAR(15)='1GA', @CURRENCY_ID VARCHAR(15)='PESOS',@PG_Intercarmbiada INT = 0

    CREATE TABLE #POLIZASCXP(	 
	BANK_ACCOUNT_ID VARCHAR(15),
    CONTROL_NO INT,
    VAT_GL_ACCT_ID VARCHAR(30),
    DESCRIPCION VARCHAR(200),
    TRASLADO VARCHAR(30),
    TC_FACTURA DECIMAL(15,8),
    TC_DEPOSITO DECIMAL(15,8),    
    RET_MXN_TRASLADAR_FACT DECIMAL(15,2),
    RET_MXN_TRASLADAR_DEP DECIMAL(15,2),
    PERDIDA_GANANCIA DECIMAL(15,2),
    CUENTA_PER_GANANCIA VARCHAR(30),
    FECHA VARCHAR(10),
    CLIENTE VARCHAR(120),
    SITE_ID VARCHAR(15));

	CREATE TABLE #POLIZASNEGATIVAS( 
	BANK_ACCOUNT_ID VARCHAR(15),
    CONTROL_NO INT,
    SITE_ID VARCHAR(15));
	
	DECLARE @CURRENCY_NATIVA AS VARCHAR(10) = (SELECT FUNCTIONAL_CURRENCY_ID FROM ACCOUNTING_ENTITY WHERE ID = (SELECT ENTITY_ID FROM SITE WHERE ID = @SITE_ID))

	IF (@CONSILIADO = 1)
	BEGIN
		-- Obtener todos los movimientos consiliados RETENCION		
		INSERT #POLIZASCXP(SITE_ID, BANK_ACCOUNT_ID, CONTROL_NO, VAT_GL_ACCT_ID, DESCRIPCION, TRASLADO, 
			TC_FACTURA, RET_MXN_TRASLADAR_FACT, TC_DEPOSITO, RET_MXN_TRASLADAR_DEP, PERDIDA_GANANCIA, CUENTA_PER_GANANCIA, FECHA, CLIENTE)
			
			SELECT SITE_ID
				,BANK_ACCOUNT_ID 
				,CONTROL_NO 
				,GL_ACCOUNT_ID
				,DESCRIPCION
				,TRASLADO
				,TC_FACTURA
				,SUM(CASE WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN RETENCION_MXN_FACT ELSE RETENCION_MXN_FACT/TC_FACTURA END) AS RETENCION_MXN_FACT --Si @currency es nativa es 1 si no es nativa es tc de  @currency
				,TC_DEPOSITO
				,SUM(CASE WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN RET_MXN_TRASLADAR_DEP ELSE RET_MXN_TRASLADAR_DEP/TC_DEPOSITO END) AS RET_MXN_TRASLADAR_DEP --Si @currency es nativa es 1 si no es nativa es tc de  @currency

				--Se vuelve a calcular la perdida ganancia si @currency no es nativa
				,SUM(CASE WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND @PG_Intercarmbiada = 1 THEN
							(CASE WHEN ABS(RET_MXN_TRASLADAR_DEP/TC_DEPOSITO - RETENCION_MXN_FACT/TC_FACTURA)=.01 THEN 0 ELSE RET_MXN_TRASLADAR_DEP/TC_DEPOSITO - RETENCION_MXN_FACT/TC_FACTURA END)
					 WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND @PG_Intercarmbiada = 0 THEN
							(CASE WHEN ABS(RETENCION_MXN_FACT/TC_FACTURA - RET_MXN_TRASLADAR_DEP/TC_DEPOSITO)=.01 THEN 0 ELSE RETENCION_MXN_FACT/TC_FACTURA - RET_MXN_TRASLADAR_DEP/TC_DEPOSITO END)
				 ELSE  GANANCIA_PERDIDA END) GANANCIA_PERDIDA


				--Se vuelve a buscar la cuenta de perdida ganancia si @currency no es nativa
				,CASE WHEN @PG_Intercarmbiada =1 THEN
				(
					CASE WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND (SUM(RET_MXN_TRASLADAR_DEP/TC_DEPOSITO - RETENCION_MXN_FACT/TC_FACTURA)<0) THEN 
							(SELECT GL_ACCOUNT_ID FROM GL_INTERFACE_ACCT WHERE (INTERFACE_ID = 'REALIZED_GAIN') AND (SITE_ID = @SITE_ID))
						 WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND (SUM(RET_MXN_TRASLADAR_DEP/TC_DEPOSITO - RETENCION_MXN_FACT/TC_FACTURA)>0) THEN
							(SELECT GL_ACCOUNT_ID FROM GL_INTERFACE_ACCT WHERE (INTERFACE_ID = 'REALIZED_LOSS') AND (SITE_ID = @SITE_ID))
				ELSE CUENTA_PER_GANANCIA END)
				ELSE (
					CASE WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND (SUM(RETENCION_MXN_FACT/TC_FACTURA - RET_MXN_TRASLADAR_DEP/TC_DEPOSITO)<0) THEN 
							(SELECT GL_ACCOUNT_ID FROM GL_INTERFACE_ACCT WHERE (INTERFACE_ID = 'REALIZED_LOSS') AND (SITE_ID = @SITE_ID))
						 WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND (SUM(RETENCION_MXN_FACT/TC_FACTURA - RET_MXN_TRASLADAR_DEP/TC_DEPOSITO)>0) THEN
							(SELECT GL_ACCOUNT_ID FROM GL_INTERFACE_ACCT WHERE (INTERFACE_ID = 'REALIZED_GAIN') AND (SITE_ID = @SITE_ID))END
				
				)END CUENTA_PER_GANANCIA

				,FECHA
				,VENDOR_ID

			
			FROM
			(SELECT	A.SITE_ID
				, A.BANK_ACCOUNT_ID 
				,A.CONTROL_NO 
				,A.GL_ACCOUNT_ID
				,B.DESCRIPCION
				,B.TRASLADO

				--Todo viene en moneda nativa
                ,CASE WHEN A.Moneda_Factura = @CURRENCY_ID /*or A.Moneda_Factura= @CURRENCY_NATIVA*/ THEN ISNULL(CE_FACTURA.SELL_RATE,1) --Si es nulo @currency es moneda nativa
					WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN TC_FACTURA 
					ELSE  ISNULL(CE_FACTURA.SELL_RATE,1) --SI NO ES @CURRENCY Y NO ES LA NATIVA 
				 END TC_FACTURA	
				
				,CASE 
					WHEN SUM(A.RETENCION_MXN_FACT) = 0.01 THEN 0 
					WHEN SUM(A.RETENCION_MXN_FACT) = -0.01 THEN 0 
				ELSE SUM(A.RETENCION_MXN_FACT)  END RETENCION_MXN_FACT
				
				,CASE WHEN A.CURRENCY_ID = @CURRENCY_ID or A.CURRENCY_ID= @CURRENCY_NATIVA THEN ISNULL(CE_PAGO.SELL_RATE,1)  --Si es nulo @currency es moneda nativa
					WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN TC_Pago  --SI NO ES LA @CURRENCY Y NO ES LA NATIVA 
					ELSE ISNULL(CE_PAGO.SELL_RATE,1)
				END TC_DEPOSITO					
				
				,CASE 
					WHEN SUM(A.GANANCIA_PERDIDA) = 0.01 THEN A.RETENCION_MXN_PAGO + 0.01
					WHEN SUM(A.GANANCIA_PERDIDA) = -0.01 THEN A.RETENCION_MXN_PAGO - 0.01
				ELSE SUM(A.RETENCION_MXN_PAGO) END AS RET_MXN_TRASLADAR_DEP	
				,CASE 
					WHEN SUM(A.GANANCIA_PERDIDA) = 0.01 THEN 0 
					WHEN SUM(A.GANANCIA_PERDIDA) = -0.01 THEN 0 
				ELSE SUM(A.GANANCIA_PERDIDA)END GANANCIA_PERDIDA
				,A.CUENTA_PER_GANANCIA
				,@FECHA FECHA
				,A.VENDOR_ID

				,A.Moneda_Factura
				,A.CURRENCY_ID Moneda_Pago
				,A.FECHA_FACTURA
				,A.FECHA_PAGO
				,ISNULL(CE_FACTURA.SELL_RATE,1) AS TC_FACTURA_CURR
				,ISNULL(CE_PAGO.SELL_RATE,1) AS TC_PAGO_CURR

			FROM VMX_CUENTAS_RETENCION AS b,
			VMX_IVA_TRASL_CXP_03 AS a
			LEFT OUTER JOIN cash_disburse_curr CE_PAGO ON CE_PAGO.CURRENCY_ID = @CURRENCY_ID AND CE_PAGO.BANK_ACCOUNT_ID=a.BANK_ACCOUNT_ID AND CE_PAGO.CONTROL_NO=A.CONTROL_NO--BUSCA EL TC DEL PAGO QUE SEA @CURRENCY_ID
			LEFT OUTER JOIN CURRENCY_EXCHANGE CE_FACTURA ON CE_FACTURA.CURRENCY_ID = @CURRENCY_ID AND CE_FACTURA.EFFECTIVE_DATE = (SELECT MAX(EFFECTIVE_DATE) FROM CURRENCY_EXCHANGE WHERE CURRENCY_ID = @CURRENCY_ID AND EFFECTIVE_DATE <=A.FECHA_FACTURA)--BUSCA EL TC DE LA FACTURA QUE SEA @CURRENCY_ID

			WHERE b.Cuenta =  a.GL_ACCOUNT_ID AND b.Estado = 'True' 
				AND a.ANIO_CONCILIACION = @ANIO
				AND a.MES_CONCILIACION = @MES	
				AND a.SITE_ID = @SITE_ID			
			GROUP BY a.SITE_ID, a.BANK_ACCOUNT_ID,a.CONTROL_NO,a.GL_ACCOUNT_ID,b.Descripcion,a.TC_FACTURA,b.Traslado,A.RETENCION_MXN_FACT,A.TC_Pago,A.RETENCION_MXN_PAGO,A.GANANCIA_PERDIDA,A.CUENTA_PER_GANANCIA,a.VENDOR_ID
			
			,A.Moneda_Factura
				,A.CURRENCY_ID
				,A.FECHA_FACTURA
				,A.FECHA_PAGO
				,ISNULL(CE_FACTURA.SELL_RATE,1)
				,ISNULL(CE_PAGO.SELL_RATE,1)) as P
			GROUP BY  SITE_ID,BANK_ACCOUNT_ID,CONTROL_NO,DESCRIPCION,TRASLADO
			,TC_FACTURA,TC_DEPOSITO,
			 CUENTA_PER_GANANCIA
				,FECHA
				,VENDOR_ID
			,GL_ACCOUNT_ID


			-- Obtener los movimientos con montos negativos retencion
			INSERT #POLIZASNEGATIVAS(SITE_ID,BANK_ACCOUNT_ID,CONTROL_NO)
				SELECT A.SITE_ID, A.BANK_ACCOUNT_ID,A.CONTROL_NO      
				FROM VMX_IVA_TRASL_CXP_03 AS a,VMX_CUENTAS_RETENCION AS b 
				WHERE b.Cuenta =  a.GL_ACCOUNT_ID AND b.Estado = 'True' 
					-- Consiliados
					AND a.ANIO_CONCILIACION = @ANIO AND a.MES_CONCILIACION = @MES AND a.SITE_ID = @SITE_ID
				GROUP BY a.SITE_ID, a.BANK_ACCOUNT_ID,a.CONTROL_NO	,a.GL_ACCOUNT_ID        
				HAVING CASE WHEN SUM(A.RETENCION_MXN_FACT) = 0.01 THEN 0 WHEN SUM(A.RETENCION_MXN_FACT) = -0.01 THEN 0 ELSE SUM(A.RETENCION_MXN_FACT)END < 0

	END
	ELSE
	BEGIN
		-- Obtener todos los movimientos consiliados y no consiliados RETENCION
		INSERT #POLIZASCXP(SITE_ID, BANK_ACCOUNT_ID, CONTROL_NO, VAT_GL_ACCT_ID, DESCRIPCION, TRASLADO, 
			TC_FACTURA, RET_MXN_TRASLADAR_FACT, TC_DEPOSITO, RET_MXN_TRASLADAR_DEP, PERDIDA_GANANCIA, CUENTA_PER_GANANCIA, FECHA, CLIENTE)
			
			SELECT SITE_ID
				,BANK_ACCOUNT_ID 
				,CONTROL_NO 
				,GL_ACCOUNT_ID
				,DESCRIPCION
				,TRASLADO
				,TC_FACTURA
				,SUM(CASE WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN RETENCION_MXN_FACT ELSE RETENCION_MXN_FACT/TC_FACTURA END) AS RETENCION_MXN_FACT --Si @currency es nativa es 1 si no es nativa es tc de  @currency
				,TC_DEPOSITO
				,SUM(CASE WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN RET_MXN_TRASLADAR_DEP ELSE RET_MXN_TRASLADAR_DEP/TC_DEPOSITO END) AS RET_MXN_TRASLADAR_DEP --Si @currency es nativa es 1 si no es nativa es tc de  @currency
				
				--Se vuelve a calcular la perdida ganancia si @currency no es nativa
				,SUM(CASE WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND @PG_Intercarmbiada = 1 THEN
							(CASE WHEN ABS(RET_MXN_TRASLADAR_DEP/TC_DEPOSITO - RETENCION_MXN_FACT/TC_FACTURA)=.01 THEN 0 ELSE RET_MXN_TRASLADAR_DEP/TC_DEPOSITO - RETENCION_MXN_FACT/TC_FACTURA END)
					 WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND @PG_Intercarmbiada = 0 THEN
							(CASE WHEN ABS(RETENCION_MXN_FACT/TC_FACTURA - RET_MXN_TRASLADAR_DEP/TC_DEPOSITO)=.01 THEN 0 ELSE RETENCION_MXN_FACT/TC_FACTURA - RET_MXN_TRASLADAR_DEP/TC_DEPOSITO END)
				 ELSE  GANANCIA_PERDIDA END) GANANCIA_PERDIDA


				--Se vuelve a buscar la cuenta de perdida ganancia si @currency no es nativa
				,CASE WHEN @PG_Intercarmbiada =1 THEN
				(
					CASE WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND (SUM(RET_MXN_TRASLADAR_DEP/TC_DEPOSITO - RETENCION_MXN_FACT/TC_FACTURA)<0) THEN 
							(SELECT GL_ACCOUNT_ID FROM GL_INTERFACE_ACCT WHERE (INTERFACE_ID = 'REALIZED_GAIN') AND (SITE_ID = @SITE_ID))
						 WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND (SUM(RET_MXN_TRASLADAR_DEP/TC_DEPOSITO - RETENCION_MXN_FACT/TC_FACTURA)>0) THEN
							(SELECT GL_ACCOUNT_ID FROM GL_INTERFACE_ACCT WHERE (INTERFACE_ID = 'REALIZED_LOSS') AND (SITE_ID = @SITE_ID))
				ELSE CUENTA_PER_GANANCIA END)
				ELSE (
					CASE WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND (SUM(RETENCION_MXN_FACT/TC_FACTURA - RET_MXN_TRASLADAR_DEP/TC_DEPOSITO)<0) THEN 
							(SELECT GL_ACCOUNT_ID FROM GL_INTERFACE_ACCT WHERE (INTERFACE_ID = 'REALIZED_LOSS') AND (SITE_ID = @SITE_ID))
						 WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND (SUM(RETENCION_MXN_FACT/TC_FACTURA - RET_MXN_TRASLADAR_DEP/TC_DEPOSITO)>0) THEN
							(SELECT GL_ACCOUNT_ID FROM GL_INTERFACE_ACCT WHERE (INTERFACE_ID = 'REALIZED_GAIN') AND (SITE_ID = @SITE_ID))END
				
				)END CUENTA_PER_GANANCIA

				,FECHA
				,VENDOR_ID


			FROM
			(SELECT A.SITE_ID
				,A.BANK_ACCOUNT_ID 
				,A.CONTROL_NO 
				,A.GL_ACCOUNT_ID
				,B.DESCRIPCION
				,B.TRASLADO
				
				--Todo viene en moneda nativa
                ,CASE WHEN A.Moneda_Factura = @CURRENCY_ID /*or A.Moneda_Factura= @CURRENCY_NATIVA*/ THEN ISNULL(CE_FACTURA.SELL_RATE,1) --Si es nulo @currency es moneda nativa
					WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN TC_FACTURA 
					ELSE  ISNULL(CE_FACTURA.SELL_RATE,1) --SI NO ES @CURRENCY Y NO ES LA NATIVA 
				 END TC_FACTURA	

				-- Hacer cero el monto, cuando el Monto de RETENCION prorrateado sea un centavo positivo o negativo.
				,CASE 
					WHEN SUM(A.RETENCION_MXN_FACT) = 0.01 THEN 0 
					WHEN SUM(A.RETENCION_MXN_FACT) = -0.01 THEN 0 
				ELSE SUM(A.RETENCION_MXN_FACT)  END RETENCION_MXN_FACT
				
				,CASE WHEN A.CURRENCY_ID = @CURRENCY_ID or A.CURRENCY_ID= @CURRENCY_NATIVA THEN ISNULL(CE_PAGO.SELL_RATE,1)  --Si es nulo @currency es moneda nativa
					WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN TC_Pago  --SI NO ES LA @CURRENCY Y NO ES LA NATIVA 
					ELSE ISNULL(CE_PAGO.SELL_RATE,1)
				END TC_DEPOSITO				

				,CASE 
					WHEN SUM(A.GANANCIA_PERDIDA) = 0.01 THEN A.RETENCION_MXN_PAGO + 0.01
					WHEN SUM(A.GANANCIA_PERDIDA) = -0.01 THEN A.RETENCION_MXN_PAGO - 0.01
				ELSE SUM(A.RETENCION_MXN_PAGO) END AS RET_MXN_TRASLADAR_DEP	
				,CASE 
					WHEN SUM(A.GANANCIA_PERDIDA) = 0.01 THEN 0 
					WHEN SUM(A.GANANCIA_PERDIDA) = -0.01 THEN 0 
				ELSE SUM(A.GANANCIA_PERDIDA)END GANANCIA_PERDIDA
				,A.CUENTA_PER_GANANCIA
				,@FECHA FECHA
				,A.VENDOR_ID

				,A.Moneda_Factura
				,A.CURRENCY_ID Moneda_Pago
				,A.FECHA_FACTURA
				,A.FECHA_PAGO
				,ISNULL(CE_FACTURA.SELL_RATE,1) AS TC_FACTURA_CURR
				,ISNULL(CE_PAGO.SELL_RATE,1) AS TC_PAGO_CURR

			FROM VMX_CUENTAS_RETENCION AS b,
			VMX_IVA_TRASL_CXP_03 AS a
			LEFT OUTER JOIN cash_disburse_curr CE_PAGO ON CE_PAGO.CURRENCY_ID = @CURRENCY_ID AND CE_PAGO.BANK_ACCOUNT_ID=a.BANK_ACCOUNT_ID AND CE_PAGO.CONTROL_NO=A.CONTROL_NO--BUSCA EL TC DEL PAGO QUE SEA @CURRENCY_ID
			LEFT OUTER JOIN CURRENCY_EXCHANGE CE_FACTURA ON CE_FACTURA.CURRENCY_ID = @CURRENCY_ID AND CE_FACTURA.EFFECTIVE_DATE = (SELECT MAX(EFFECTIVE_DATE) FROM CURRENCY_EXCHANGE WHERE CURRENCY_ID = @CURRENCY_ID AND EFFECTIVE_DATE <=A.FECHA_FACTURA)--BUSCA EL TC DE LA FACTURA QUE SEA @CURRENCY_ID
			WHERE b.Cuenta =  a.GL_ACCOUNT_ID
				AND b.Estado = 'True'
				AND a.ANIO_POSTEO = @ANIO
				AND a.MES_POSTEO = @MES
				AND a.SITE_ID = @SITE_ID
			GROUP BY a.SITE_ID, a.BANK_ACCOUNT_ID,a.CONTROL_NO,a.GL_ACCOUNT_ID,b.Descripcion,a.TC_FACTURA,b.Traslado,A.RETENCION_MXN_FACT,
				A.TC_Pago,A.RETENCION_MXN_PAGO,A.GANANCIA_PERDIDA,A.CUENTA_PER_GANANCIA,a.VENDOR_ID
				,A.Moneda_Factura
				,A.CURRENCY_ID
				,A.FECHA_FACTURA
				,A.FECHA_PAGO
				,ISNULL(CE_FACTURA.SELL_RATE,1)
				,ISNULL(CE_PAGO.SELL_RATE,1)) as P
			GROUP BY  SITE_ID,BANK_ACCOUNT_ID,CONTROL_NO,DESCRIPCION,TRASLADO
			,TC_FACTURA,TC_DEPOSITO,
			 CUENTA_PER_GANANCIA
				,FECHA
				,VENDOR_ID
			,GL_ACCOUNT_ID
		
		-- Obtener los movimientos con montos negativos RETENCION
		INSERT #POLIZASNEGATIVAS(SITE_ID, BANK_ACCOUNT_ID,CONTROL_NO)
			SELECT A.SITE_ID, A.BANK_ACCOUNT_ID,A.CONTROL_NO      
			FROM VMX_IVA_TRASL_CXP_03 AS a,VMX_DIOTCUENTAS AS b 
			WHERE b.Cuenta =  a.GL_ACCOUNT_ID AND b.Estado = 'True' 
				-- No Consiliados
				AND a.ANIO_POSTEO = @ANIO AND a.MES_POSTEO = @MES AND a.SITE_ID = @SITE_ID
			GROUP BY a.SITE_ID, a.BANK_ACCOUNT_ID,a.CONTROL_NO	,a.GL_ACCOUNT_ID        
			HAVING CASE WHEN SUM(A.RETENCION_MXN_FACT) = 0.01 THEN 0 WHEN SUM(A.RETENCION_MXN_FACT) = -0.01 THEN 0 ELSE SUM(A.RETENCION_MXN_FACT)END < 0
	END		
    
    -- Eliminar las polizas negativas. Filtrar por Banco y No. Control                        
	DELETE FROM #POLIZASCXP 
	FROM #POLIZASCXP AS P LEFT JOIN #POLIZASNEGATIVAS AS N ON P.BANK_ACCOUNT_ID = N.BANK_ACCOUNT_ID AND P.CONTROL_NO = N.CONTROL_NO AND P.SITE_ID = N.SITE_ID
	WHERE N.BANK_ACCOUNT_ID IS NOT NULL AND N.CONTROL_NO IS NOT NULL
	
	-- Eliminar las polizas que han completado el traspaso de RETENCION.
	DELETE FROM #POLIZASCXP
	FROM #POLIZASCXP AS P 
		LEFT JOIN VMX_CONTOLPOLIZA_LINE AS PL 
			ON P.BANK_ACCOUNT_ID = PL.BANK_ACCOUNT_ID AND P.CONTROL_NO = PL.CONTROL_NO AND P.VAT_GL_ACCT_ID = PL.CUENTA AND P.SITE_ID = PL.SITE_ID AND PL.CUSTOMER_ID = P.CLIENTE
	WHERE PL.BANK_ACCOUNT_ID IS NOT NULL AND PL.CONTROL_NO IS NOT NULL AND PL.CUENTA IS NOT NULL
		AND PL.TIPO_OPERACION = 'CXP'
	
	SELECT SITE_ID
		,BANK_ACCOUNT_ID
		,CONTROL_NO
		,CLIENTE
		,VAT_GL_ACCT_ID
		,DESCRIPCION
		,TRASLADO
		,TC_FACTURA
		,TC_DEPOSITO
		,0.00 IVA_MXN_TRASLADAR_FACT
		,0.00 IVA_MXN_TRASLADAR_DEP
		,ISNULL(RET_MXN_TRASLADAR_FACT,0.0) AS RET_MXN_TRASLADAR_FACT
		,ISNULL(RET_MXN_TRASLADAR_DEP,0.0) AS RET_MXN_TRASLADAR_DEP
		,ISNULL(PERDIDA_GANANCIA,0.0) AS PERDIDA_GANANCIA
		,CUENTA_PER_GANANCIA
		,FECHA
	FROM #POLIZASCXP
	ORDER BY BANK_ACCOUNT_ID,CONTROL_NO

	DROP TABLE #POLIZASCXP                    
	DROP TABLE #POLIZASNEGATIVAS
