
ALTER PROCEDURE [dbo].[PRC_POLIZAS_POR_TRASPASAR_CXC] (@ANIO INT,@MES INT, @FECHA VARCHAR(15),@CONSILIADO INT, @SITE_ID VARCHAR(15),@CURRENCY_ID VARCHAR(15))
AS

	SET NOCOUNT ON;
  
 --DECLARE @ANIO INT=2019,@MES INT=8, @FECHA VARCHAR(15)='27/08/2019',@CONSILIADO INT=0, @SITE_ID VARCHAR(15)='JNMSLP-SLP', @CURRENCY_ID VARCHAR(15)='MXN',@PG_Intercarmbiada INT = 0
  
    CREATE TABLE #POLIZASCXC(	 
	BANK_ACCOUNT_ID VARCHAR(15),
    CONTROL_NO VARCHAR(15),
    VAT_GL_ACCT_ID VARCHAR(30),
    DESCRIPCION VARCHAR(200),
    TRASLADO VARCHAR(30),
    TC_FACTURA DECIMAL(15,8),
    TC_DEPOSITO DECIMAL(15,8),    
    IVA_MXN_TRASLADAR_FACT DECIMAL(15,2),
    IVA_MXN_TRASLADAR_DEP DECIMAL(15,2),
    PERDIDA_GANANCIA DECIMAL(15,2),
    CUENTA_PER_GANANCIA VARCHAR(30),
    FECHA VARCHAR(10),
    CLIENTE VARCHAR(120),
    SITE_ID VARCHAR(15));
    
	CREATE TABLE #POLIZASNEGATIVAS( 
	BANK_ACCOUNT_ID VARCHAR(15),
    CONTROL_NO VARCHAR(15),
    SITE_ID VARCHAR(15),
    CLIENTE VARCHAR(120)); --AGREGADO

	DECLARE @CURRENCY_NATIVA AS VARCHAR(10) = (SELECT FUNCTIONAL_CURRENCY_ID FROM ACCOUNTING_ENTITY WHERE ID = (SELECT ENTITY_ID FROM SITE WHERE ID = @SITE_ID))


	IF (@CONSILIADO = 1)
	BEGIN
		-- Obtener todos los movimientos consiliados
		
		INSERT #POLIZASCXC(	SITE_ID,BANK_ACCOUNT_ID, CONTROL_NO, VAT_GL_ACCT_ID, DESCRIPCION, TRASLADO, 
							TC_FACTURA, IVA_MXN_TRASLADAR_FACT, TC_DEPOSITO, IVA_MXN_TRASLADAR_DEP, PERDIDA_GANANCIA, 
							CUENTA_PER_GANANCIA, FECHA, CLIENTE)
		
		SELECT	P.SITE_ID
				,P.BANK_ACCOUNT_ID
				,P.CHECK_ID
                ,P.VAT_GL_ACCT_ID
                ,P.DESCRIPCION
                ,P.TRASLADO
				,P.TC_FACTURA
				,CASE WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN IVA_MXN_TRASLADAR_FACT ELSE IVA_MXN_TRASLADAR_FACT/TC_FACTURA END AS IVA_MXN_TRASLADAR_FACT --Si @currency es nativa es 1 si no es nativa es tc de  @currency
				,P.TC_DEPOSITO
				,CASE WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN IVA_MXN_TRASLADAR_DEP ELSE IVA_MXN_TRASLADAR_DEP/TC_DEPOSITO END AS IVA_MXN_TRASLADAR_DEP --Si @currency es nativa es 1 si no es nativa es tc de  @currency
				
				--Se vuelve a calcular la perdida ganancia si @currency no es nativa
				,CASE WHEN @CURRENCY_ID <> @CURRENCY_NATIVA THEN
					(CASE WHEN ABS(IVA_MXN_TRASLADAR_DEP/TC_DEPOSITO - IVA_MXN_TRASLADAR_FACT/TC_FACTURA)=.01 THEN 0 ELSE IVA_MXN_TRASLADAR_DEP/TC_DEPOSITO - IVA_MXN_TRASLADAR_FACT/TC_FACTURA END)
				ELSE  PERDIDA_GANANCIA END PERDIDA_GANANCIA,

				--Se vuelve a buscar la cuenta de perdida ganancia si @currency no es nativa
				CASE WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND ((IVA_MXN_TRASLADAR_DEP/TC_DEPOSITO - IVA_MXN_TRASLADAR_FACT/TC_FACTURA)<0) THEN 
						(SELECT GL_ACCOUNT_ID FROM GL_INTERFACE_ACCT WHERE (INTERFACE_ID = 'REALIZED_GAIN') AND (SITE_ID = @SITE_ID))
					 WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND ((IVA_MXN_TRASLADAR_DEP/TC_DEPOSITO - IVA_MXN_TRASLADAR_FACT/TC_FACTURA)>0) THEN
						(SELECT GL_ACCOUNT_ID FROM GL_INTERFACE_ACCT WHERE (INTERFACE_ID = 'REALIZED_LOSS') AND (SITE_ID = @SITE_ID))
				ELSE CUENTA_PER_GANANCIA END CUENTA_PER_GANANCIA
								
				,P.FECHA
				,P.Cod_Cliente
				
			FROM 
			(SELECT C.SITE_ID, C.BANK_ACCOUNT_ID
				,C.CHECK_ID
                ,C.VAT_GL_ACCT_ID
                ,CTA.DESCRIPCION
                ,CTA.TRASLADO

                --Todo viene en moneda nativa
                ,CASE WHEN C.Moneda_Factura = @CURRENCY_ID /*or c.Moneda_Factura= @CURRENCY_NATIVA*/ THEN ISNULL(CE_FACTURA.SELL_RATE,1) --Si es nulo @currency es moneda nativa
					WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN TC_FACTURA 
					ELSE  ISNULL(CE_FACTURA.SELL_RATE,1) --SI NO ES @CURRENCY Y NO ES LA NATIVA 
				 END TC_FACTURA
                
				-- Hacer cero el monto, cuando el Monto de IVA prorrateado sea un centavo positivo o negativo.
                ,CASE WHEN SUM(C.IVA_MXN_TRASLADAR_FACT) = 0.01 THEN 0 WHEN SUM(C.IVA_MXN_TRASLADAR_FACT) = -0.01 THEN 0 ELSE SUM(C.IVA_MXN_TRASLADAR_FACT)END IVA_MXN_TRASLADAR_FACT
				                           
				,CASE WHEN C.Moneda_Pago = @CURRENCY_ID /*or c.Moneda_Pago= @CURRENCY_NATIVA*/ THEN ISNULL(CE_PAGO.SELL_RATE,1)  --Si es nulo @currency es moneda nativa
					WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN TC_DEPOSITO  --SI NO ES LA @CURRENCY Y NO ES LA NATIVA 
					ELSE ISNULL(CE_PAGO.SELL_RATE,1)
				END TC_DEPOSITO
						
				,CASE WHEN SUM(PERDIDA_GANANCIA) = 0.01 THEN IVA_MXN_TRASLADAR_DEP - 0.01 WHEN SUM(PERDIDA_GANANCIA) = -0.01 THEN IVA_MXN_TRASLADAR_DEP + 0.01 ELSE SUM(IVA_MXN_TRASLADAR_DEP) END AS IVA_MXN_TRASLADAR_DEP	
										
				,CASE WHEN SUM(PERDIDA_GANANCIA) = 0.01 THEN 0 WHEN SUM(PERDIDA_GANANCIA) = -0.01 THEN 0 ELSE SUM(PERDIDA_GANANCIA)END PERDIDA_GANANCIA
				,CUENTA_PER_GANANCIA			
				
				,@FECHA FECHA
				,C.COD_CLIENTE
				,C.Moneda_Factura
				,C.Moneda_Pago
				,C.FECHA_FACTURA
				,C.FECHA_PAGO
				,ISNULL(CE_FACTURA.SELL_RATE,1) AS TC_FACTURA_CURR
				,ISNULL(CE_PAGO.SELL_RATE,1) AS TC_PAGO_CURR
			FROM ACCOUNT AS A
			,VMX_IVACUENTASCXC AS CTA
			,VMX_IVA_CXC_02 AS C
			LEFT OUTER JOIN CASH_RECEIPT_CURR CE_PAGO ON CE_PAGO.CURRENCY_ID = @CURRENCY_ID AND CE_PAGO.CUSTOMER_ID=C.COD_CLIENTE AND CE_PAGO.CHECK_ID=C.CHECK_ID--BUSCA EL TC DEL PAGO QUE SEA @CURRENCY_ID
			LEFT OUTER JOIN CURRENCY_EXCHANGE CE_FACTURA ON CE_FACTURA.CURRENCY_ID = @CURRENCY_ID AND CE_FACTURA.EFFECTIVE_DATE = (SELECT MAX(EFFECTIVE_DATE) FROM CURRENCY_EXCHANGE WHERE CURRENCY_ID = @CURRENCY_ID AND EFFECTIVE_DATE <=C.FECHA_FACTURA)--BUSCA EL TC DE LA FACTURA QUE SEA @CURRENCY_ID
			WHERE CTA.Traslado = A.ID
				AND CTA.Cuenta = C.VAT_GL_ACCT_ID
				AND CTA.Estado = 'True'
				AND C.Anio_Conc = @ANIO
				AND C.Mes_conc = @MES
				AND C.SITE_ID = @SITE_ID
            GROUP BY C.SITE_ID, C.BANK_ACCOUNT_ID,C.CHECK_ID,C.VAT_GL_ACCT_ID,CTA.Descripcion
				,C.TC_FACTURA,CTA.Traslado,A.DESCRIPTION,C.Cod_Cliente,TC_DEPOSITO
				,IVA_MXN_TRASLADAR_DEP
				,PERDIDA_GANANCIA
				,CUENTA_PER_GANANCIA
				,C.Moneda_Factura
				,C.Moneda_Pago
				,C.FECHA_FACTURA
				,C.FECHA_PAGO
				,ISNULL(CE_FACTURA.SELL_RATE,1)
				,ISNULL(CE_PAGO.SELL_RATE,1)) AS P
			
			-- Obtener los movimientos con montos negativos
			INSERT #POLIZASNEGATIVAS(SITE_ID, BANK_ACCOUNT_ID,CONTROL_NO,CLIENTE)
			SELECT CXC.SITE_ID, CXC.BANK_ACCOUNT_ID,CXC.CHECK_ID,CXC.Cod_Cliente --AGREGADO
			FROM ACCOUNT AS AC,VMX_IVA_CXC_02 AS CXC,VMX_IVACUENTASCXC AS CTAS
			WHERE CTAS.Traslado = AC.ID
				AND CTAS.Cuenta = CXC.VAT_GL_ACCT_ID
				AND CTAS.Estado = 'True'
				AND CXC.Anio_Conc = @ANIO
				AND CXC.Mes_conc = @MES
				AND CXC.SITE_ID = @SITE_ID
			GROUP BY CXC.SITE_ID, CXC.BANK_ACCOUNT_ID,CXC.CHECK_ID,CXC.VAT_GL_ACCT_ID,CXC.Cod_Cliente   
			HAVING CASE WHEN SUM(CXC.IVA_MXN_TRASLADAR_FACT) = 0.01 THEN 0 WHEN SUM(CXC.IVA_MXN_TRASLADAR_FACT) = -0.01 THEN 0 ELSE SUM(CXC.IVA_MXN_TRASLADAR_FACT) END < 0
	END
	ELSE 
	BEGIN
	
		-- Obtener todos los movimientos conciliados y no conciliados
		
		INSERT #POLIZASCXC(	SITE_ID, BANK_ACCOUNT_ID, CONTROL_NO, VAT_GL_ACCT_ID, DESCRIPCION, TRASLADO, 
							TC_FACTURA, IVA_MXN_TRASLADAR_FACT, TC_DEPOSITO, IVA_MXN_TRASLADAR_DEP, PERDIDA_GANANCIA, 
							CUENTA_PER_GANANCIA, FECHA, CLIENTE)
	

			SELECT  SITE_ID, BANK_ACCOUNT_ID, CHECK_ID, VAT_GL_ACCT_ID, DESCRIPCION, TRASLADO,
			TC_FACTURA,

			CASE WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN IVA_MXN_TRASLADAR_FACT ELSE IVA_MXN_TRASLADAR_FACT/TC_FACTURA END AS IVA_MXN_TRASLADAR_FACT, --Si @currency es nativa es 1 si no es nativa es tc de  @currency
			
			TC_DEPOSITO,
			
			CASE WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN IVA_MXN_TRASLADAR_DEP ELSE IVA_MXN_TRASLADAR_DEP/TC_DEPOSITO END AS IVA_MXN_TRASLADAR_DEP, --Si @currency es nativa es 1 si no es nativa es tc de  @currency
			
			--Se vuelve a calcular la perdida ganancia si @currency no es nativa
			CASE WHEN @CURRENCY_ID <> @CURRENCY_NATIVA THEN
				(CASE WHEN ABS(IVA_MXN_TRASLADAR_DEP/TC_DEPOSITO - IVA_MXN_TRASLADAR_FACT/TC_FACTURA)=.01 THEN 0 ELSE IVA_MXN_TRASLADAR_DEP/TC_DEPOSITO - IVA_MXN_TRASLADAR_FACT/TC_FACTURA END)
			ELSE  PERDIDA_GANANCIA END PERDIDA_GANANCIA,

			--Se vuelve a buscar la cuenta de perdida ganancia si @currency no es nativa
			CASE WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND ((IVA_MXN_TRASLADAR_DEP/TC_DEPOSITO - IVA_MXN_TRASLADAR_FACT/TC_FACTURA)<0) THEN 
					(SELECT GL_ACCOUNT_ID FROM GL_INTERFACE_ACCT WHERE (INTERFACE_ID = 'REALIZED_GAIN') AND (SITE_ID = @SITE_ID))
				 WHEN @CURRENCY_ID <> @CURRENCY_NATIVA AND ((IVA_MXN_TRASLADAR_DEP/TC_DEPOSITO - IVA_MXN_TRASLADAR_FACT/TC_FACTURA)>0) THEN
					(SELECT GL_ACCOUNT_ID FROM GL_INTERFACE_ACCT WHERE (INTERFACE_ID = 'REALIZED_LOSS') AND (SITE_ID = @SITE_ID))
			ELSE CUENTA_PER_GANANCIA END CUENTA_PER_GANANCIA, 
			
			FECHA,
		    COD_CLIENTE

				--,P.Moneda_Factura
				--,P.Moneda_Pago
				--,P.FECHA_FACTURA
				--,P.FECHA_PAGO
				--,P.TC_FACTURA_CURR
				--,P.TC_PAGO_CURR

			FROM
			(SELECT C.SITE_ID 
				,C.BANK_ACCOUNT_ID
				,C.CHECK_ID
                ,C.VAT_GL_ACCT_ID
                ,CTA.DESCRIPCION
                ,CTA.TRASLADO

				--Todo viene en moneda nativa
                ,CASE WHEN C.Moneda_Factura = @CURRENCY_ID /*or c.Moneda_Factura= @CURRENCY_NATIVA*/ THEN ISNULL(CE_FACTURA.SELL_RATE,1) --Si es nulo @currency es moneda nativa
					WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN TC_FACTURA 
					ELSE  ISNULL(CE_FACTURA.SELL_RATE,1) --SI NO ES @CURRENCY Y NO ES LA NATIVA 
				 END TC_FACTURA

                -- Hacer cero el monto, cuando el Monto de IVA prorrateado sea un centavo positivo o negativo.
                ,(CASE WHEN SUM(C.IVA_MXN_TRASLADAR_FACT) = 0.01 THEN 0 WHEN SUM(C.IVA_MXN_TRASLADAR_FACT) = -0.01 THEN 0 ELSE SUM(C.IVA_MXN_TRASLADAR_FACT)END) IVA_MXN_TRASLADAR_FACT
				
				
				,CASE WHEN C.Moneda_Pago = @CURRENCY_ID /*or c.Moneda_Pago= @CURRENCY_NATIVA*/ THEN ISNULL(CE_PAGO.SELL_RATE,1)  --Si es nulo @currency es moneda nativa
					WHEN @CURRENCY_ID = @CURRENCY_NATIVA THEN TC_DEPOSITO  --SI NO ES LA @CURRENCY Y NO ES LA NATIVA 
					ELSE ISNULL(CE_PAGO.SELL_RATE,1)
				END TC_DEPOSITO
				
												
				,CASE WHEN SUM(PERDIDA_GANANCIA) = 0.01 THEN SUM(IVA_MXN_TRASLADAR_DEP) - 0.01 --IVA_MXN_TRASLADAR_DEP NO TENIA SUM
					WHEN SUM(PERDIDA_GANANCIA) = -0.01 THEN SUM(IVA_MXN_TRASLADAR_DEP) + 0.01
				ELSE SUM(IVA_MXN_TRASLADAR_DEP) END AS IVA_MXN_TRASLADAR_DEP					

				,CASE WHEN SUM(PERDIDA_GANANCIA) = 0.01 THEN 0 
					WHEN SUM(PERDIDA_GANANCIA) = -0.01 THEN 0 ELSE SUM(PERDIDA_GANANCIA)END PERDIDA_GANANCIA								
				,CUENTA_PER_GANANCIA

				,@FECHA FECHA
				,C.COD_CLIENTE
				,C.Moneda_Factura
				,C.Moneda_Pago
				,C.FECHA_FACTURA
				,C.FECHA_PAGO
				,ISNULL(CE_FACTURA.SELL_RATE,1) AS TC_FACTURA_CURR
				,ISNULL(CE_PAGO.SELL_RATE,1) AS TC_PAGO_CURR
			FROM ACCOUNT AS A, 
				VMX_IVACUENTASCXC AS CTA,
				VMX_IVA_CXC_02 AS C
				LEFT OUTER JOIN CASH_RECEIPT_CURR CE_PAGO ON CE_PAGO.CURRENCY_ID = @CURRENCY_ID AND CE_PAGO.CUSTOMER_ID=C.COD_CLIENTE AND CE_PAGO.CHECK_ID=C.CHECK_ID--BUSCA EL TC DEL PAGO QUE SEA @CURRENCY_ID
				LEFT OUTER JOIN CURRENCY_EXCHANGE CE_FACTURA ON CE_FACTURA.CURRENCY_ID = @CURRENCY_ID AND CE_FACTURA.EFFECTIVE_DATE = (SELECT MAX(EFFECTIVE_DATE) FROM CURRENCY_EXCHANGE WHERE CURRENCY_ID = @CURRENCY_ID AND EFFECTIVE_DATE <=C.FECHA_FACTURA)--BUSCA EL TC DE LA FACTURA QUE SEA @CURRENCY_ID
			WHERE CTA.Traslado = A.ID
				AND CTA.Cuenta = C.VAT_GL_ACCT_ID
				AND CTA.Estado = 'True'
				AND C.ANIO_POSTEO = @ANIO
				AND C.MES_POSTEO = @MES
				AND C.SITE_ID = @SITE_ID
				
            GROUP BY C.SITE_ID, C.BANK_ACCOUNT_ID,C.CHECK_ID,C.VAT_GL_ACCT_ID,CTA.Descripcion
				,C.TC_FACTURA,CTA.Traslado,A.DESCRIPTION,C.Cod_Cliente,TC_DEPOSITO
				--,IVA_MXN_TRASLADAR_DEP
				--,PERDIDA_GANANCIA
				,CUENTA_PER_GANANCIA
				,C.Moneda_Factura
				,C.Moneda_Pago
				,C.FECHA_FACTURA
				,C.FECHA_PAGO
				,ISNULL(CE_FACTURA.SELL_RATE,1)
				,ISNULL(CE_PAGO.SELL_RATE,1)
				) AS P
		
		-- Obtener los movimientos con montos negativos
		INSERT #POLIZASNEGATIVAS(SITE_ID, BANK_ACCOUNT_ID,CONTROL_NO,CLIENTE)
			SELECT CXC.SITE_ID, CXC.BANK_ACCOUNT_ID,CXC.CHECK_ID,CXC.Cod_Cliente --AGREGADO  
			FROM ACCOUNT AS AC, VMX_IVA_CXC_02 AS CXC, VMX_IVACUENTASCXC AS CTAS
			WHERE CTAS.Traslado = AC.ID
				AND CTAS.Cuenta = CXC.VAT_GL_ACCT_ID
				AND CTAS.Estado = 'True'
				AND CXC.ANIO_POSTEO = @ANIO
				AND CXC.MES_POSTEO = @MES
				AND CXC.SITE_ID = @SITE_ID
			GROUP BY CXC.SITE_ID, CXC.BANK_ACCOUNT_ID,CXC.CHECK_ID,CXC.VAT_GL_ACCT_ID,CXC.Cod_Cliente       
			HAVING CASE WHEN SUM(CXC.IVA_MXN_TRASLADAR_FACT) = 0.01 THEN 0 WHEN SUM(CXC.IVA_MXN_TRASLADAR_FACT) = -0.01 THEN 0 ELSE SUM(CXC.IVA_MXN_TRASLADAR_FACT) END < 0
			
	END		
    
    -- Eliminar las polizas negativas. Filtrar por Banco y No. Control                        
	DELETE FROM #POLIZASCXC
	FROM #POLIZASCXC AS P LEFT JOIN #POLIZASNEGATIVAS AS N ON P.BANK_ACCOUNT_ID = N.BANK_ACCOUNT_ID AND P.CONTROL_NO = N.CONTROL_NO AND P.SITE_ID = N.SITE_ID AND P.CLIENTE = N.CLIENTE
	WHERE N.BANK_ACCOUNT_ID IS NOT NULL AND N.CONTROL_NO IS NOT NULL
	
	-- Eliminar las polizas que han completado el traspaso de IVA.
	DELETE FROM #POLIZASCXC
	FROM #POLIZASCXC AS P 
		LEFT JOIN VMX_CONTOLPOLIZA_LINE AS PL 
			ON P.BANK_ACCOUNT_ID = PL.BANK_ACCOUNT_ID AND P.CONTROL_NO = PL.CHECK_ID AND P.SITE_ID = PL.SITE_ID AND PL.CUSTOMER_ID = P.CLIENTE--AND P.VAT_GL_ACCT_ID = PL.CUENTA
	WHERE PL.BANK_ACCOUNT_ID IS NOT NULL AND PL.CHECK_ID IS NOT NULL AND PL.CUENTA IS NOT NULL
		AND PL.TIPO_OPERACION = 'CXC'
		   

	SELECT SITE_ID
		,BANK_ACCOUNT_ID
		,CONTROL_NO
		,CLIENTE
		,VAT_GL_ACCT_ID
		,DESCRIPCION
		,TRASLADO
		,TC_FACTURA
		,TC_DEPOSITO
		,ISNULL(IVA_MXN_TRASLADAR_FACT,0.0) AS IVA_MXN_TRASLADAR_FACT --aunque se llamen MXN puede venir en otra moneda
		,ISNULL(IVA_MXN_TRASLADAR_DEP,0.0) AS IVA_MXN_TRASLADAR_DEP --aunque se llamen MXN puede venir en otra moneda
		,0.00 AS RET_MXN_TRASLADAR_FACT 
		,0.00 AS RET_MXN_TRASLADAR_DEP
		,ISNULL(PERDIDA_GANANCIA,0.0) AS PERDIDA_GANANCIA
		,CUENTA_PER_GANANCIA
		,FECHA
	FROM #POLIZASCXC
	ORDER BY BANK_ACCOUNT_ID,CONTROL_NO
	
	DROP TABLE #POLIZASCXC
	DROP TABLE #POLIZASNEGATIVAS
	