
IF OBJECT_ID ( 'dbo.PRC_POLIZAS_POR_TRASPASAR_CXC', 'P' ) IS NOT NULL 
    DROP PROCEDURE dbo.PRC_POLIZAS_POR_TRASPASAR_CXC;
GO

CREATE PROCEDURE [dbo].[PRC_POLIZAS_POR_TRASPASAR_CXC] (@ANIO INT,@MES INT, @FECHA VARCHAR(15),@CONSILIADO INT, @SITE_ID VARCHAR(15))
AS

	SET NOCOUNT ON;
  
    CREATE TABLE #POLIZASCXC(	 
	BANK_ACCOUNT_ID VARCHAR(15),
    CONTROL_NO VARCHAR(15),
    VAT_GL_ACCT_ID VARCHAR(30),
    DESCRIPCION VARCHAR(200),
    TRASLADO VARCHAR(30),
    TC_FACTURA DECIMAL(15,8),
    TC_DEPOSITO DECIMAL(15,8),    
    IVA_MXN_TRASLADAR_FACT DECIMAL(15,2),
    IVA_MXN_TRASLADAR_DEP DECIMAL(15,2),
    PERDIDA_GANANCIA DECIMAL(15,2),
    CUENTA_PER_GANANCIA VARCHAR(30),
    FECHA VARCHAR(10),
    CLIENTE VARCHAR(120),
    SITE_ID VARCHAR(15));
    
	CREATE TABLE #POLIZASNEGATIVAS( 
	BANK_ACCOUNT_ID VARCHAR(15),
    CONTROL_NO VARCHAR(15),
    SITE_ID VARCHAR(15),
    CLIENTE VARCHAR(120)); --AGREGADO
	
	IF (@CONSILIADO = 1)
	BEGIN
		-- Obtener todos los movimientos consiliados
		INSERT #POLIZASCXC(SITE_ID,BANK_ACCOUNT_ID, CONTROL_NO, VAT_GL_ACCT_ID, DESCRIPCION, TRASLADO, 
			TC_FACTURA, IVA_MXN_TRASLADAR_FACT, TC_DEPOSITO, IVA_MXN_TRASLADAR_DEP, PERDIDA_GANANCIA, CUENTA_PER_GANANCIA, FECHA, CLIENTE)
			SELECT C.SITE_ID, C.BANK_ACCOUNT_ID
				,C.CHECK_ID
                ,C.VAT_GL_ACCT_ID
                ,CTA.DESCRIPCION
                ,CTA.TRASLADO
                ,TC_FACTURA
                -- Hacer cero el monto, cuando el Monto de IVA prorrateado sea un centavo positivo o negativo.
                ,CASE 
					WHEN SUM(C.IVA_MXN_TRASLADAR_FACT) = 0.01 THEN 0 
					WHEN SUM(C.IVA_MXN_TRASLADAR_FACT) = -0.01 THEN 0 
				ELSE SUM(C.IVA_MXN_TRASLADAR_FACT)END                             
				,TC_DEPOSITO				
				,CASE 
					WHEN SUM(PERDIDA_GANANCIA) = 0.01 THEN IVA_MXN_TRASLADAR_DEP - 0.01
					WHEN SUM(PERDIDA_GANANCIA) = -0.01 THEN IVA_MXN_TRASLADAR_DEP + 0.01
				ELSE SUM(IVA_MXN_TRASLADAR_DEP) END AS IVA_MXN_TRASLADAR_DEP							
				,CASE 
					WHEN SUM(PERDIDA_GANANCIA) = 0.01 THEN 0 
					WHEN SUM(PERDIDA_GANANCIA) = -0.01 THEN 0 
				ELSE SUM(PERDIDA_GANANCIA)END									
				,CUENTA_PER_GANANCIA			
				,@FECHA
				,C.COD_CLIENTE
			FROM ACCOUNT AS A, VMX_IVA_CXC_02 AS C, VMX_IVACUENTASCXC AS CTA
			WHERE CTA.Traslado = A.ID
				AND CTA.Cuenta = C.VAT_GL_ACCT_ID
				AND CTA.Estado = 'True'
				AND C.Anio_Conc = @ANIO
				AND C.Mes_conc = @MES
				AND C.SITE_ID = @SITE_ID
            GROUP BY C.SITE_ID, C.BANK_ACCOUNT_ID,C.CHECK_ID,C.VAT_GL_ACCT_ID,CTA.Descripcion
				,C.TC_FACTURA,CTA.Traslado,A.DESCRIPTION,C.Cod_Cliente,TC_DEPOSITO
				,IVA_MXN_TRASLADAR_DEP
				,PERDIDA_GANANCIA
				,CUENTA_PER_GANANCIA
			
			-- Obtener los movimientos con montos negativos
			INSERT #POLIZASNEGATIVAS(SITE_ID, BANK_ACCOUNT_ID,CONTROL_NO,CLIENTE)
			SELECT CXC.SITE_ID, CXC.BANK_ACCOUNT_ID,CXC.CHECK_ID,CXC.Cod_Cliente --AGREGADO
			FROM ACCOUNT AS AC, VMX_IVA_CXC_02 AS CXC, VMX_IVACUENTASCXC AS CTAS
			WHERE CTAS.Traslado = AC.ID
				AND CTAS.Cuenta = CXC.VAT_GL_ACCT_ID
				AND CTAS.Estado = 'True'
				AND CXC.Anio_Conc = @ANIO
				AND CXC.Mes_conc = @MES
				AND CXC.SITE_ID = @SITE_ID
			GROUP BY CXC.SITE_ID, CXC.BANK_ACCOUNT_ID,CXC.CHECK_ID,CXC.VAT_GL_ACCT_ID,CXC.Cod_Cliente   
			HAVING CASE WHEN SUM(CXC.IVA_MXN_TRASLADAR_FACT) = 0.01 THEN 0 WHEN SUM(CXC.IVA_MXN_TRASLADAR_FACT) = -0.01 THEN 0 ELSE SUM(CXC.IVA_MXN_TRASLADAR_FACT) END < 0
	END
	ELSE
	BEGIN
		-- Obtener todos los movimientos consiliados y no consiliados
		INSERT #POLIZASCXC(SITE_ID, BANK_ACCOUNT_ID, CONTROL_NO, VAT_GL_ACCT_ID, DESCRIPCION, TRASLADO, 
			TC_FACTURA, IVA_MXN_TRASLADAR_FACT, TC_DEPOSITO, IVA_MXN_TRASLADAR_DEP, PERDIDA_GANANCIA, CUENTA_PER_GANANCIA, FECHA, CLIENTE)
			SELECT C.SITE_ID 
				,C.BANK_ACCOUNT_ID
				,C.CHECK_ID
                ,C.VAT_GL_ACCT_ID
                ,CTA.DESCRIPCION
                ,CTA.TRASLADO
                ,TC_FACTURA
                -- Hacer cero el monto, cuando el Monto de IVA prorrateado sea un centavo positivo o negativo.
                ,CASE WHEN SUM(C.IVA_MXN_TRASLADAR_FACT) = 0.01 THEN 0 
					WHEN SUM(C.IVA_MXN_TRASLADAR_FACT) = -0.01 THEN 0 ELSE SUM(C.IVA_MXN_TRASLADAR_FACT)END                             
				,TC_DEPOSITO				
				,CASE 
					WHEN SUM(PERDIDA_GANANCIA) = 0.01 THEN SUM(IVA_MXN_TRASLADAR_DEP) - 0.01 --IVA_MXN_TRASLADAR_DEP NO TENIA SUM
					WHEN SUM(PERDIDA_GANANCIA) = -0.01 THEN SUM(IVA_MXN_TRASLADAR_DEP) + 0.01
				ELSE SUM(IVA_MXN_TRASLADAR_DEP) END AS IVA_MXN_TRASLADAR_DEP					
				,CASE WHEN SUM(PERDIDA_GANANCIA) = 0.01 THEN 0 
					WHEN SUM(PERDIDA_GANANCIA) = -0.01 THEN 0 ELSE SUM(PERDIDA_GANANCIA)END										
				,CUENTA_PER_GANANCIA
				,@FECHA
				,C.COD_CLIENTE
			FROM ACCOUNT AS A, VMX_IVA_CXC_02 AS C, VMX_IVACUENTASCXC AS CTA
			WHERE CTA.Traslado = A.ID
				AND CTA.Cuenta = C.VAT_GL_ACCT_ID
				AND CTA.Estado = 'True'
				AND C.ANIO_POSTEO = @ANIO
				AND C.MES_POSTEO = @MES
				AND C.SITE_ID = @SITE_ID
            GROUP BY C.SITE_ID, C.BANK_ACCOUNT_ID,C.CHECK_ID,C.VAT_GL_ACCT_ID,CTA.Descripcion
				,C.TC_FACTURA,CTA.Traslado,A.DESCRIPTION,C.Cod_Cliente,TC_DEPOSITO
				--,IVA_MXN_TRASLADAR_DEP
				--,PERDIDA_GANANCIA
				,CUENTA_PER_GANANCIA
		
		-- Obtener los movimientos con montos negativos
		INSERT #POLIZASNEGATIVAS(SITE_ID, BANK_ACCOUNT_ID,CONTROL_NO,CLIENTE)
			SELECT CXC.SITE_ID, CXC.BANK_ACCOUNT_ID,CXC.CHECK_ID,CXC.Cod_Cliente --AGREGADO  
			FROM ACCOUNT AS AC, VMX_IVA_CXC_02 AS CXC, VMX_IVACUENTASCXC AS CTAS
			WHERE CTAS.Traslado = AC.ID
				AND CTAS.Cuenta = CXC.VAT_GL_ACCT_ID
				AND CTAS.Estado = 'True'
				AND CXC.ANIO_POSTEO = @ANIO
				AND CXC.MES_POSTEO = @MES
				AND CXC.SITE_ID = @SITE_ID
			GROUP BY CXC.SITE_ID, CXC.BANK_ACCOUNT_ID,CXC.CHECK_ID,CXC.VAT_GL_ACCT_ID,CXC.Cod_Cliente       
			HAVING CASE WHEN SUM(CXC.IVA_MXN_TRASLADAR_FACT) = 0.01 THEN 0 WHEN SUM(CXC.IVA_MXN_TRASLADAR_FACT) = -0.01 THEN 0 ELSE SUM(CXC.IVA_MXN_TRASLADAR_FACT) END < 0
	END		
    
    -- Eliminar las polizas negativas. Filtrar por Banco y No. Control                        
	DELETE FROM #POLIZASCXC
	FROM #POLIZASCXC AS P LEFT JOIN #POLIZASNEGATIVAS AS N ON P.BANK_ACCOUNT_ID = N.BANK_ACCOUNT_ID AND P.CONTROL_NO = N.CONTROL_NO AND P.SITE_ID = N.SITE_ID AND P.CLIENTE = N.CLIENTE
	WHERE N.BANK_ACCOUNT_ID IS NOT NULL AND N.CONTROL_NO IS NOT NULL
	
	-- Eliminar las polizas que han completado el traspaso de IVA.
	DELETE FROM #POLIZASCXC
	FROM #POLIZASCXC AS P 
		LEFT JOIN VMX_CONTOLPOLIZA_LINE AS PL 
			ON P.BANK_ACCOUNT_ID = PL.BANK_ACCOUNT_ID AND P.CONTROL_NO = PL.CHECK_ID AND P.SITE_ID = PL.SITE_ID AND PL.CUSTOMER_ID = P.CLIENTE--AND P.VAT_GL_ACCT_ID = PL.CUENTA
	WHERE PL.BANK_ACCOUNT_ID IS NOT NULL AND PL.CHECK_ID IS NOT NULL AND PL.CUENTA IS NOT NULL
		AND PL.TIPO_OPERACION = 'CXC'
		   
	SELECT SITE_ID
		,BANK_ACCOUNT_ID
		,CONTROL_NO
		,CLIENTE
		,VAT_GL_ACCT_ID
		,DESCRIPCION
		,TRASLADO
		,TC_FACTURA
		,TC_DEPOSITO
		,ISNULL(IVA_MXN_TRASLADAR_FACT,0.0) AS IVA_MXN_TRASLADAR_FACT
		,ISNULL(IVA_MXN_TRASLADAR_DEP,0.0) AS IVA_MXN_TRASLADAR_DEP
		,0.00 AS RET_MXN_TRASLADAR_FACT
		,0.00 AS RET_MXN_TRASLADAR_DEP
		,ISNULL(PERDIDA_GANANCIA,0.0) AS PERDIDA_GANANCIA
		,CUENTA_PER_GANANCIA
		,FECHA
	FROM #POLIZASCXC
	ORDER BY BANK_ACCOUNT_ID,CONTROL_NO

	DROP TABLE #POLIZASCXC
	DROP TABLE #POLIZASNEGATIVAS

GO


IF OBJECT_ID ( 'dbo.PRC_POLIZAS_POR_TRASPASAR_CXC_DET', 'P' ) IS NOT NULL 
    DROP PROCEDURE dbo.PRC_POLIZAS_POR_TRASPASAR_CXC_DET;
GO


CREATE PROCEDURE [dbo].[PRC_POLIZAS_POR_TRASPASAR_CXC_DET] (@ANIO INT,@MES INT, @FECHA VARCHAR(15),@CONSILIADO INT, @SITE_ID VARCHAR(15))
AS

--DECLARE @ANIO INT = 2017,@MES INT =11, @FECHA VARCHAR(15)='15/11/2017',@CONSILIADO INT=1, @SITE_ID VARCHAR(15)='1GDL'

	SET NOCOUNT ON;
  
    CREATE TABLE #POLIZASCXC(	 
	BANK_ACCOUNT_ID VARCHAR(15),
    CONTROL_NO VARCHAR(15),
    VAT_GL_ACCT_ID VARCHAR(30),
    DESCRIPCION VARCHAR(200),
    TRASLADO VARCHAR(30),
    TC_FACTURA DECIMAL(15,8),
    TC_DEPOSITO DECIMAL(15,8),    
    IVA_MXN_TRASLADAR_FACT DECIMAL(15,2),
    IVA_MXN_TRASLADAR_DEP DECIMAL(15,2),
    PERDIDA_GANANCIA DECIMAL(15,2),
    CUENTA_PER_GANANCIA VARCHAR(30),
    FECHA VARCHAR(10),
    CLIENTE VARCHAR(120),
    SITE_ID VARCHAR(15),
    INVOICE VARCHAR(15),
    INVOICE_LN VARCHAR(10),
    RFC VARCHAR(25),
    NAME VARCHAR(50),
	AMOUNT DECIMAL(15,2));
    
	CREATE TABLE #POLIZASNEGATIVAS( 
	BANK_ACCOUNT_ID VARCHAR(15),
    CONTROL_NO VARCHAR(15),
    SITE_ID VARCHAR(15),
    CLIENTE VARCHAR(120)
    );
	
	IF (@CONSILIADO = 1)
	BEGIN
		-- Obtener todos los movimientos consiliados
		INSERT #POLIZASCXC(SITE_ID,BANK_ACCOUNT_ID, CONTROL_NO, VAT_GL_ACCT_ID, DESCRIPCION, TRASLADO, 
			TC_FACTURA, IVA_MXN_TRASLADAR_FACT, TC_DEPOSITO, IVA_MXN_TRASLADAR_DEP, PERDIDA_GANANCIA, CUENTA_PER_GANANCIA, FECHA, CLIENTE,
			RFC,NAME,INVOICE,INVOICE_LN,AMOUNT)
			SELECT C.SITE_ID, C.BANK_ACCOUNT_ID
				,C.CHECK_ID
                ,C.VAT_GL_ACCT_ID
                ,CTA.DESCRIPCION
                ,CTA.TRASLADO
                ,TC_FACTURA
                -- Hacer cero el monto, cuando el Monto de IVA prorrateado sea un centavo positivo o negativo.
                ,CASE 
					WHEN SUM(C.IVA_MXN_TRASLADAR_FACT) = 0.01 THEN 0 
					WHEN SUM(C.IVA_MXN_TRASLADAR_FACT) = -0.01 THEN 0 
				ELSE SUM(C.IVA_MXN_TRASLADAR_FACT)END                             
				,TC_DEPOSITO				
				,CASE 
					WHEN SUM(PERDIDA_GANANCIA) = 0.01 THEN IVA_MXN_TRASLADAR_DEP - 0.01
					WHEN SUM(PERDIDA_GANANCIA) = -0.01 THEN IVA_MXN_TRASLADAR_DEP + 0.01
				ELSE SUM(IVA_MXN_TRASLADAR_DEP) END AS IVA_MXN_TRASLADAR_DEP							
				,CASE 
					WHEN SUM(PERDIDA_GANANCIA) = 0.01 THEN 0 
					WHEN SUM(PERDIDA_GANANCIA) = -0.01 THEN 0 
				ELSE SUM(PERDIDA_GANANCIA)END									
				,CUENTA_PER_GANANCIA			
				,@FECHA
				,C.COD_CLIENTE
				,ISNULL(CUST.VAT_REGISTRATION,'')
				,ISNULL(CUST.NAME,'')
				,C.FACTURA
				,C.LINE_NO
				,C.AMOUNT
			FROM ACCOUNT AS A, VMX_IVACUENTASCXC AS CTA,VMX_IVA_CXC_02 AS C
			LEFT JOIN CUSTOMER CUST ON CUST.ID = C.COD_CLIENTE
			WHERE CTA.Traslado = A.ID
				AND CTA.Cuenta = C.VAT_GL_ACCT_ID
				AND CTA.Estado = 'True'
				AND C.Anio_Conc = @ANIO
				AND C.Mes_conc = @MES
				AND C.SITE_ID = @SITE_ID
            GROUP BY C.SITE_ID, C.BANK_ACCOUNT_ID,C.CHECK_ID,C.VAT_GL_ACCT_ID,CTA.Descripcion,CUST.VAT_REGISTRATION,CUST.NAME
				,C.TC_FACTURA,CTA.Traslado,A.DESCRIPTION,C.Cod_Cliente,TC_DEPOSITO
				,IVA_MXN_TRASLADAR_DEP
				,PERDIDA_GANANCIA
				,CUENTA_PER_GANANCIA
				,ISNULL(CUST.VAT_REGISTRATION,'')
				,ISNULL(CUST.NAME,'')
				,C.FACTURA
				,C.LINE_NO
				,C.AMOUNT
			
			-- Obtener los movimientos con montos negativos
			INSERT #POLIZASNEGATIVAS(SITE_ID, BANK_ACCOUNT_ID,CONTROL_NO,CLIENTE)
			SELECT CXC.SITE_ID, CXC.BANK_ACCOUNT_ID,CXC.CHECK_ID,CXC.COD_CLIENTE
			FROM ACCOUNT AS AC, VMX_IVA_CXC_02 AS CXC, VMX_IVACUENTASCXC AS CTAS
			WHERE CTAS.Traslado = AC.ID
				AND CTAS.Cuenta = CXC.VAT_GL_ACCT_ID
				AND CTAS.Estado = 'True'
				AND CXC.Anio_Conc = @ANIO
				AND CXC.Mes_conc = @MES
				AND CXC.SITE_ID = @SITE_ID
			GROUP BY CXC.SITE_ID, CXC.BANK_ACCOUNT_ID,CXC.CHECK_ID,CXC.VAT_GL_ACCT_ID,CXC.COD_CLIENTE
			HAVING CASE WHEN SUM(CXC.IVA_MXN_TRASLADAR_FACT) = 0.01 THEN 0 WHEN SUM(CXC.IVA_MXN_TRASLADAR_FACT) = -0.01 THEN 0 ELSE SUM(CXC.IVA_MXN_TRASLADAR_FACT) END < 0
	END
	ELSE
	BEGIN
		-- Obtener todos los movimientos consiliados y no consiliados
		INSERT #POLIZASCXC(SITE_ID, BANK_ACCOUNT_ID, CONTROL_NO, VAT_GL_ACCT_ID, DESCRIPCION, TRASLADO, 
			TC_FACTURA, IVA_MXN_TRASLADAR_FACT, TC_DEPOSITO, IVA_MXN_TRASLADAR_DEP, PERDIDA_GANANCIA, CUENTA_PER_GANANCIA, FECHA, CLIENTE,
			RFC,NAME,INVOICE,INVOICE_LN,AMOUNT)
			SELECT C.SITE_ID 
				,C.BANK_ACCOUNT_ID
				,C.CHECK_ID
                ,C.VAT_GL_ACCT_ID
                ,CTA.DESCRIPCION
                ,CTA.TRASLADO
                ,TC_FACTURA
                -- Hacer cero el monto, cuando el Monto de IVA prorrateado sea un centavo positivo o negativo.
                ,CASE WHEN SUM(C.IVA_MXN_TRASLADAR_FACT) = 0.01 THEN 0 
					WHEN SUM(C.IVA_MXN_TRASLADAR_FACT) = -0.01 THEN 0 ELSE SUM(C.IVA_MXN_TRASLADAR_FACT)END                             
				,TC_DEPOSITO				
				,CASE 
					WHEN SUM(PERDIDA_GANANCIA) = 0.01 THEN IVA_MXN_TRASLADAR_DEP - 0.01
					WHEN SUM(PERDIDA_GANANCIA) = -0.01 THEN IVA_MXN_TRASLADAR_DEP + 0.01
				ELSE IVA_MXN_TRASLADAR_DEP END AS IVA_MXN_TRASLADAR_DEP							
				,CASE WHEN SUM(PERDIDA_GANANCIA) = 0.01 THEN 0 
					WHEN SUM(PERDIDA_GANANCIA) = -0.01 THEN 0 ELSE SUM(PERDIDA_GANANCIA)END									
				,CUENTA_PER_GANANCIA
				,@FECHA
				,C.COD_CLIENTE
				,CUST.VAT_REGISTRATION
				,CUST.NAME
				,C.FACTURA
				,C.LINE_NO
				,C.AMOUNT
			FROM ACCOUNT AS A, VMX_IVACUENTASCXC AS CTA,VMX_IVA_CXC_02 AS C
			LEFT JOIN CUSTOMER CUST ON CUST.ID = C.COD_CLIENTE
			WHERE CTA.Traslado = A.ID
				AND CTA.Cuenta = C.VAT_GL_ACCT_ID
				AND CTA.Estado = 'True'
				AND C.ANIO_POSTEO = @ANIO
				AND C.MES_POSTEO = @MES
				AND C.SITE_ID = @SITE_ID
            GROUP BY C.SITE_ID, C.BANK_ACCOUNT_ID,C.CHECK_ID,C.VAT_GL_ACCT_ID,CTA.Descripcion
				,C.TC_FACTURA,CTA.Traslado,A.DESCRIPTION,C.Cod_Cliente,TC_DEPOSITO
				,IVA_MXN_TRASLADAR_DEP
				,PERDIDA_GANANCIA
				,CUENTA_PER_GANANCIA
				,CUST.VAT_REGISTRATION,CUST.NAME
				,C.FACTURA
				,C.LINE_NO
				,C.AMOUNT
		
		-- Obtener los movimientos con montos negativos
		INSERT #POLIZASNEGATIVAS(SITE_ID, BANK_ACCOUNT_ID,CONTROL_NO,CLIENTE)
			SELECT CXC.SITE_ID, CXC.BANK_ACCOUNT_ID,CXC.CHECK_ID,CXC.COD_CLIENTE
			FROM ACCOUNT AS AC, VMX_IVA_CXC_02 AS CXC, VMX_IVACUENTASCXC AS CTAS
			WHERE CTAS.Traslado = AC.ID
				AND CTAS.Cuenta = CXC.VAT_GL_ACCT_ID
				AND CTAS.Estado = 'True'
				AND CXC.ANIO_POSTEO = @ANIO
				AND CXC.MES_POSTEO = @MES
				AND CXC.SITE_ID = @SITE_ID
			GROUP BY CXC.SITE_ID, CXC.BANK_ACCOUNT_ID,CXC.CHECK_ID,CXC.VAT_GL_ACCT_ID,CXC.COD_CLIENTE
			HAVING CASE WHEN SUM(CXC.IVA_MXN_TRASLADAR_FACT) = 0.01 THEN 0 WHEN SUM(CXC.IVA_MXN_TRASLADAR_FACT) = -0.01 THEN 0 ELSE SUM(CXC.IVA_MXN_TRASLADAR_FACT) END < 0
	END		
    
    -- Eliminar las polizas negativas. Filtrar por Banco y No. Control                        
	DELETE FROM #POLIZASCXC
	FROM #POLIZASCXC AS P LEFT JOIN #POLIZASNEGATIVAS AS N ON P.BANK_ACCOUNT_ID = N.BANK_ACCOUNT_ID AND P.CONTROL_NO = N.CONTROL_NO AND P.SITE_ID = N.SITE_ID AND P.CLIENTE = N.CLIENTE
	WHERE N.BANK_ACCOUNT_ID IS NOT NULL AND N.CONTROL_NO IS NOT NULL
	
	-- Eliminar las polizas que han completado el traspaso de IVA.
	DELETE FROM #POLIZASCXC
	FROM #POLIZASCXC AS P 
		LEFT JOIN VMX_CONTOLPOLIZA_LINE AS PL 
			ON P.BANK_ACCOUNT_ID = PL.BANK_ACCOUNT_ID AND P.CONTROL_NO = PL.CHECK_ID AND P.SITE_ID = PL.SITE_ID AND PL.CUSTOMER_ID = P.CLIENTE --AND P.VAT_GL_ACCT_ID = PL.CUENTA
	WHERE PL.BANK_ACCOUNT_ID IS NOT NULL AND PL.CHECK_ID IS NOT NULL AND PL.CUENTA IS NOT NULL
		AND PL.TIPO_OPERACION = 'CXC'
		   
	SELECT SITE_ID
		,BANK_ACCOUNT_ID Banco
		,CONTROL_NO "No. Control"
		,CLIENTE Cliente
		,RFC
		,NAME Nombre
		,INVOICE Factura
		,INVOICE_LN "Linea Factura"
		,VAT_GL_ACCT_ID Cuenta
		,DESCRIPCION "Descripción"
		,TRASLADO "Cuenta Traslado"
		,AMOUNT Monto
		,TC_FACTURA "Tipo Cambio Factura"
		,TC_DEPOSITO "Tipo Cambio Depósito"
		,ISNULL(IVA_MXN_TRASLADAR_FACT,0.0) AS "IVA Factura"
		,ISNULL(IVA_MXN_TRASLADAR_DEP,0.0) AS "IVA Deposito"
		,ISNULL(PERDIDA_GANANCIA,0.0) AS "Perdida Ganancia"
		,CUENTA_PER_GANANCIA "Cuenta Perdida Ganancia"
		,FECHA Fecha
	FROM #POLIZASCXC
	ORDER BY BANK_ACCOUNT_ID,CONTROL_NO,INVOICE,INVOICE_LN

	DROP TABLE #POLIZASCXC
	DROP TABLE #POLIZASNEGATIVAS

